{
  "extends": "stylelint-config-recommended-scss",
  "rules": {
    "indentation": 2,
    "string-quotes": "single",
    "no-duplicate-selectors": true,
    "selector-class-pattern": null,
    "no-descending-specificity": null,
    "declaration-block-trailing-semicolon": "always",
    "length-zero-no-unit": true,
    "scss/dollar-variable-colon-space-after": "at-least-one-space",
    "scss/dollar-variable-colon-space-before": "never",
    "scss/map-keys-quotes": "always",
    "value-keyword-case": null
  }
}
