@import "@/styles/base/variables";

// 공통으로 사용되는 css
.route-container {
  @apply w-full h-screen max-w-[480px] mx-auto overflow-y-auto relative;

  background-color: map-get($colors, 'main');
  font-weight: 600;
  font-size: 20px;
}

// Android, IOS status 고려
:root {
  --safe-area-top: max(24px, env(safe-area-inset-top));
}
